#about{
  text-align: center;
  position: relative;
  top: 100px;
}

#about h1 {
  margin: 42px;
  font-weight: 300px;
  font-size: 48px;
}

#about h2 {
  font-size: 26px;
  margin: 42px;
}

#about .btn {
  font-weight: 600;
  border-radius: 0;
  padding: 16px 26px;
  font-size: 16px;
}
