title App

meta(charset = "utf-8")
meta(name = "viewport" content = "width=device-width, initial-scale=1.0")

style(type = "text/css")
  include ../../public/stylesheets/reset.min.css
style(type = "text/css")
  include ../../node_modules/slick-carousel/slick/slick.css
style(type = "text/css")
  include ../../node_modules/bootstrap/dist/css/bootstrap.min.css
style(type = "text/css")
  include ../../public/stylesheets/style.css
  
script(type = "text/javascript")
  include ../../node_modules/jquery/dist/jquery.min.js
script(type = "text/javascript")
  include ../../node_modules/slick-carousel/slick/slick.min.js
script(type = "text/javascript")
  include ../../node_modules/animejs/lib/anime.min.js
script(type = "text/javascript")
  include ../../node_modules/bootstrap/dist/js/bootstrap.min.js
script(type = "text/javascript")
  include ../../public/javascripts/main.js
