doctype html
html
  head
    include ./includes/head.pug
  body
    header(class = "container head")
      h1 Express Boilerplate
    main

    
    section(id = "container")

    footer
    
    script(type = "module")
      include ../public/javascripts/module.js
